.tabTitle{
    background-color: #ffffff;
    color: rgb(116, 116, 116);
    margin: 20px 0 20px 0;
    display: flex;
    justify-items: center;
    align-items: center;
    list-style: none;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    height: 60px;
}
.active{
    width: 100px;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
}
.unactive{
    width: 100px;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
}
.current{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}
.none{
    display: none;
}