.block{
    border-radius: 10px;
    margin: auto;
    width: 600px;
    background-color: white;
    text-align: center;
}

.form {
    position: relative;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
}

.logintitle{
    margin: 0; 
    font-size: 21px; 
    font-weight: bold; 
    text-align: left;
}

.box {
    display: block;
    width: 100%;
    height: 60px;
    margin: 10px 0 30px 0;
    border: solid 2px #dadada;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;
}

.registerbox {
    font-size: 19px;
    padding: 20px;
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px 0 20px 0;
    border: none;
    border-bottom: 2px solid #b6b6b6;
    box-sizing: border-box;
    position: relative;
    font-weight: bold; 
    text-align: left;
}

.btn1{
    float: left;
    width: 50%;
    height: 60px;
    margin: 10px 0 0 0;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    border: solid 1px #ffffff;
    background-color: #7C9ACC;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.btn2{
    width: 50%;
    height: 60px;
    margin: 10px 0 0 0;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    border: solid 1px #ffffff;
    background-color: #7C9ACC;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
.join{
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.errorstyle{
    font-size: 18px;
    font-weight: bold;
    color: red;
    text-align: center;
}

.gender{
    position: relative;
    width: 100%;
    height: 50px;
    left: 0;
    display: block;
    float: left;
    text-align: left;
    font-weight: bold; 
    border-bottom: 2px solid #b6b6b6;
    box-sizing: border-box;
}

.gendertitle{
    font-size: 19px;
    display: inline-block;
    margin: 10px 50px 0 20px;
    color: rgb(0, 0, 0, 0.6);
}

.labeltxt{
    font-size: 19px;
    font-weight: bold;
    color: rgb(0, 0, 0, 0.6);
    margin-right: 10px;
}

.label{
    margin: 0 15px 5px 0;
    width: 15px;
    height: 15px;
}
