@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
.title{
    padding: 60px 0 60px 0;
    text-align: center;
    color: #ffffff;
    /* font-family: 'Rajdhani', sans-serif; */
    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
}