@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
*{margin: 0; padding:0;}

html{
    height: 100%;  
}

body {
    margin: 0;
    height: 100%;
    background-color: #7C9ACC;
}

#content{
    margin-left: 30%;
    margin-right:30%; 
    width: 800px;
}

#title{
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 20pt;
}

#title > ellipse{
    font-size: 50pt;
    /* color: brown; */
    font-family: 'Rajdhani', sans-serif;
}

#title > path {
    font-size: 50pt;
    /* color:chartreuse; */
    font-family: 'Rajdhani', sans-serif;
}

#wrapper {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    
}




.box {
    display: block;
    width: 80%;
    height: 50px;
    border: solid 2px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    display:inline;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.btn1{
    margin: 10px 0;
    width: 40%;
    padding: 10px 0 10px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 14px;
}

.btn2{
    margin: 10px 0;
    width: 60%;
    padding: 10px 0 10px;
    border-radius: 10px 10px 10px 10px;    
    cursor: pointer;
    background-color: #ffffff;
    font-size: 14px;
}