{% extends 'main.html' %}

{% block content %}
	<div id="content">
		<form>
			<div id="title">
				<ellipse>Chatter</ellipse>
				<path>Funny</path>
			</div>

			<div id="wrapper">
				<form action="{% url 'account:login' %}" method="POST">
					{% csrf_token %}
					<div>
						<input type="text" id="id" class="box" maxlength="20" placeholder="아이디">
						<br>
					</div>
					<div>
						<input type="password" id="pwd" class="box" maxlength="20" placeholder="비밀번호">
						<br>
					</div>
					<div>
						<button type="submit" class="btn1" value="submit">로그인</button>
						<button type="button" class="btn1" onclick="location.href='../signup'">회원가입</button>
						<br>
						<button class="btn1" style="background-color: yellow;">카카오</button>
						<button class="btn1" style="background-color: green;">네이버</button>
					</div>
				</form>
			</div>
		</form>
	</div>
{% endblock content %}
