body{
    width: 100%;
    height: 100%;
    background-color: #7C9ACC;
}

.signupform{
    border-radius: 10px;
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: white;
    text-align: center;
}

.wrapper {
    position: relative;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
}

.signbox2 {
    position: fixed;
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px 0 20px 0;
    border: none;
    border-bottom: 2px solid #b6b6b6;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    padding: 20px; 
    font-size: 19px; 
    font-weight: bold; 
    text-align: left;
}

.signupbtn{
    float: left;
    width: 100%;
    height: 60px;
    margin: 10px 0 0 0;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    border: solid 1px #ffffff;
    background-color: #7C9ACC;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}
