@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
*{margin: 0; padding:0;}
body {
  margin: 0 auto;
  /* background-color: white; */
  font-family: 'Rajdhani', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Nanum Pen Script', cursive;
}

::-webkit-scrollbar { display: none; }