.ChatBox{
    margin: auto;
    height: 650px;
    width: 1200px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.ChatRoom{
    height: 560px;
    width: 800px;
    border-radius: 25px 0 0 0;
    background-color: rgb(231, 231, 231);
}
.YourChatbox{
    padding: 15px 15px 30px 30px;
    text-align: left;
    width: 755px;
    height: 45px;
    border-radius: 25px;
    background-color: rgba(158, 36, 36, 0);
}
.YourImg{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
}
.YourChat{
    display: inline-block;
    margin-left: 15px;
    width: 670px;
    height: 60px;
    border-radius: 100px;
    background-color: rgb(124, 154, 204);
}
.MyChatbox{
    padding: 15px 30px 30px 15px;
    text-align: right;
    width: 755px;
    height: 45px;
    border-radius: 25px;
    background-color: rgba(158, 36, 36, 0);
}
.MyImg{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
}
.MyChat{
    display: inline-block;
    margin-right: 15px;
    width: 670px;
    height: 60px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
}
.FieldBox{
    display: block;
    width: 790px;
    height: 70px;
    border-radius: 0 0 0 25px;
    background-color: rgb(238, 238, 238);
    padding: 10px 0 0 10px;
}

.FieldButton{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    font-size:25px;
    border: none;
    border-radius: 25px;
    background-color: rgb(124, 154, 204);
    color: white;
}
.message{
    display: inline-block;
    width: 630px;
    height: 60px;
    padding: 0px 20px 0 20px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    /* outline-style: hidden; */
}
.FieldButton:hover {
    outline: none;
    background-color: hsl(218, 44%, 58%);
    /* background-color: rgb(124, 154, 200); */
    /* background-color: rgb(255, 255, 255, 0); */
}

.UserList{
    position: inherit;
    margin: -646px 0 0 790px;
    height: 650px;
    width: 400px;
    border-radius: 0 25px 25px 0;
    background-color: rgb(175, 175, 175);
}
.YourProfile{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
}
.YourName{
    float: right;
    margin: 30px 25px 0 0;
    width: 270px;
    height: 60px;
    background-color: rgb(80, 80, 80);
}
.User{
    background-color: rgba(23, 197, 197, 0);
}
.modal__container{

    background-color: rgb(0, 255, 255);
    float: right;
    margin: 30px 25px 0 0;
    width: 270px;
    height: 60px;
}
.blk{
    position: relative;
    height: 50px;
    width: 100px;
    margin : 5px;
    font-size: 18px;
    color:rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
}
.exit{
    position: relative;
    height: 50px;
    width: 100px;
    margin: 5px;
    font-size: 18px;
    color:rgb(255, 255, 255);
    background-color: rgb(243, 40, 40);
    border-radius: 20px;
}