.ChatBox{
    margin: auto;
    height: 1000px;
    width: 1800px;
    border-radius: 50px;
    background-color: rgb(238, 238, 238);
}
.ChatRoom{
    height: 880px;
    width: 1200px;
    border-radius: 50px 0 0 0;
    background-color: rgb(75, 109, 153);
}
.YourChatbox{
    padding: 30px;
    text-align: left;
    width: 1140px;
    height: 90px;
    border-radius: 50px;
    background-color: rgba(158, 36, 36, 0);
}
.YourImg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
}
.YourChat{
    display: inline-block;
    margin-left: 30px;
    width: 1000px;
    height: 90px;
    border-radius: 100px;
    background-color: rgb(156, 233, 185);
}
.MyChatbox{
    padding: 30px;
    text-align: right;
    width: 1140px;
    height: 90px;
    border-radius: 50px;
    background-color: rgba(158, 36, 36, 0);
}
.MyImg{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
}
.MyChat{
    display: inline-block;
    margin-right: 30px;
    width: 1000px;
    height: 90px;
    border-radius: 100px;
    background-color: rgb(156, 233, 185);
}
.FieldBox{
    display: block;
    width: 1180px;
    height: 100px;
    border-radius: 0 0 0 50px;
    background-color: rgb(255, 255, 255);
    padding: 20px 0 0 20px;
}
.Field{
    display: inline-block;
    width: 1050px;
    height: 80px;
    border-radius: 25px;
    background-color: rgb(207, 207, 207);
}
.FieldButton{
    display: inline-block;
    margin-left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 25px;
    background-color: rgb(207, 207, 207);
}