@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.chatback{
    position: relative;
    margin-top: 60pt;
    text-align: center;
    width: 100%;
    height: 100%;
}


/* function viewFunction(menu){
    var menubox = document.getElementById(menu);
    if(menubox.style.display=="block"){ menubox.style.display = "none"; }
     else{ menubox.style.display = "block"; }
} */