.ChatBox{
    margin: auto;
    height: 690px;
    width: 1200px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.ChatRoom{
    height: 590px;
    width: 790px;
    border-radius: 25px 0 0 0;
    background-color: #eeeeee;
    overflow-y: auto;
}
.ChatM{
    height: 40px;
    margin: 20px 0 0 0;
    font-size: 20px;
    font-family: 'Gowun Dodum', sans-serif;
}
.YourChatbox{
    padding: 15px 15px 15px 30px;
    text-align: left;
    width: 755px;
    height: fit-content;
    border-radius: 25px;
    background-color: rgba(158, 36, 36, 0);
}
.YourImg{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
}
.YourChat{
    display: inline-block;
    margin-left: 15px;
    min-width: 50px;
    width: fit-content;
    height: 60px;
    border-radius: 100px;
    background-color: rgb(124, 154, 204);
    text-align: center;
    line-height: 60px;
    padding: 0 20px 0 20px;
}
.MyChatbox{
    padding: 15px 30px 15px 15px;
    text-align: right;
    width: 755px;
    height: fit-content;
    border-radius: 25px;
    background-color: rgba(158, 36, 36, 0);
}
.MyImg{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
}
.MyChat{
    display: inline-block;
    margin-right: 15px;
    min-width: 50px;
    width: fit-content;
    height: 60px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    padding: 0 20px 0 20px;
}
.FieldBox{
    display: block;
    width: 790px;
    height: 100px;
    border-radius: 0 0 0 25px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: rgb(238, 238, 238);
}

.FieldButton{
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0 0 20px 0;
    width: 80px;
    height: 50px;
    font-size:21px;
    border: none;
    border-radius: 25px;
    background-color: rgb(124, 154, 204);
    color: white;
}
.FieldButton:hover {
    outline: none;
    background-color: hsl(218, 44%, 58%);
    /* background-color: rgb(124, 154, 200); */
    /* background-color: rgb(255, 255, 255, 0); */
}
.message{
    display: inline-block;
    width: 630px;
    height: 50px;
    margin: 30px 0 0 0;
    padding: 0 0 0 15px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    line-height: 310px;
    font-family: 'Gowun Dodum', sans-serif;
}
.Send{
    margin: 0 2px -12px 0;
    padding: 11px 0 5px 0;
}
.UserList{
    position: inherit;
    margin: -690px 0 0 790px;
    height: 690px;
    width: 400px;
    border-radius: 0 25px 25px 0;
    background-color: #D4D4D4;
    font-family: 'Gowun Dodum', sans-serif;
}
.YourProfile{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
}
.YourProfile:hover{
    cursor:pointer;
}
.YourName{
    float: right;
    margin: 20px 0 0 0;
    width: 320px;
    height: 60px;
    line-height: 60px;
    border-radius: 20px;
    background-color: rgb(238, 238, 238, 0);
}
.YourName > h4{
    float: left;
    margin: 0 0 0 20px;
    font-size: 24px;
    font-weight: bold;
}
.YourNameBG{
    margin: 30px 0 0 0;
    width: 310px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
}
.YourNameBG > h4{
    float: left;
    margin: 0 0 0 20px;
    font-size: 24px;
    font-weight: bold;
}
.YourNameBG > p{
    font-size: 20px;
}
.User{
    height: fit-content;
    background-color: rgba(23, 197, 197, 0);
}
.modal__container{
    background-color: rgb(0, 255, 255);
    float: right;
    margin: 30px 25px 0 0;
    width: 270px;
    height: 60px;
}
.blk{
    position: relative;
    height: 50px;
    width: 100px;
    margin : 5px;
    font-size: 19px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    background-color: #6E6E6E;
    border-radius: 20px;
    font-family: 'Gowun Dodum', sans-serif;
    letter-spacing: 2px;
}
.exit{
    position: relative;
    text-align: center;
    height: 50px;
    width: 100px;
    margin: 5px 5px 5px 1px;
    font-size: 19px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    background-color: #F26161;
    border-radius: 20px;
    font-family: 'Gowun Dodum', sans-serif;
    letter-spacing: 2px;
}