.userbox{
    width: 90%;
    height: 13%;
    margin: 10pt;
    background-color: rgb(255, 255, 255, 0.5);
    display: block;
    padding: 10px;
    
}

.usericon{
    margin: 10px 0 0 50px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    float: left;
}

.username{
    font-size: 20pt;
    vertical-align: middle;
    float: left;
    
}